@model List<Projects_Core.Data.Models.User>

<ul class="list-group">
    @foreach (var x in Model)
    {
        <li class="list-group-item active">
            @Html.DisplayFor(modelItem=> x.Name)
            @Html.DisplayFor(modelItem=> x.Password)
        </li>
    }
</ul>